*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.cover-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

span, a {
    display: inline-block;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0), rgba(0,0,0,0.75)) ,url(../thumbnail.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.banner .caption h1 a {
    text-decoration: none;
    color: white;
    line-height: 80px;
    border-radius: 50%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 68px;
    font-weight: 900;
    transition: 0.25s all;
}

.banner .caption h1 a:hover{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    color: red;
}

.banner .caption .social_icon a{
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 28px;
    transition: 0.25s all;
}

.banner .caption .social_icon a:hover{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
    font-size: 24px;
    font-weight: 900;
    padding: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 15px;
    transition: 0.25s all;
}

.navbar .navbar-toggler span{
    color: white;

}

.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}
